body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    
}

.box{
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

img{
    width: 400px;
    height: 180px;
    border-radius: 10px;
}